@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #141A24;
    color: #fff;
    line-height: 1.5;
    font-family: 'Pretendard';
}

button {
    border: 0;
    background-color: transparent;
}

/* 공통적인 스타일 */
.header .inner,
.footer .inner {
    max-width: 1536px;
    width: calc(100% - 96px);
    margin: 0 auto;
}

.main .inner {
    max-width: 1012px;
    width: calc(100% - 96px);
    margin: 0 auto;
}

.main .inner h3 {
    font-size: 37px;
    margin-bottom: 96px;
}

.main .inner strong {
    display: block;
    /* 줄 바꿈 처리 */
}



/* header */
.header {
    width: 100%;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height 값 필요 */
}

.header .inner .logo {
    height: 36px;
}

.header .inner .logo a {
    display: block;
    /* 인라인태그 */
    height: 100%;
}

.header .inner .logo a img {
    height: 100%;
    display: block;
    /* 이미지 확장자명이 .svg일 때 또는 로고 이미지 크기가 안 맞을 때 사용 */
}

.header .inner .menu_open {
    height: 29px;
}

.header .inner .menu_open img {
    height: 100%;
}

.header .inner .nav {
    display: none;
    /* 메뉴를 클릭해야 등장 */
}

.header .inner .nav .menu_close {}

.header .inner .nav .menu_close img {}

.header .inner .nav .gnb {}

.header .inner .nav .gnb li {}

.header .inner .nav .gnb li a.depth-01 {}



/* .main_visual */
.main_visual {
    height: 100vh;
    position: relative;
    /* header 사라짐 */
}

.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
}

.main_visual .text h2 {
    font-size: 95px;
}

.main_visual .text p {
    font-size: 40px;
}


.main_visual .visual_btn {
    max-width: 1536px;
    width: calc(100% - 96px);
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
}

.main_visual .visual_btn a {
    width: 228px;
    height: 72px;
    background-color: #0078FF;
    display: block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main_visual .visual_btn a img {
    width: 18px;
}

.main_visual .visual_btn a span {
    font-size: 20px;
}


/* section-01 */
.section-01 {
    padding: 160px 0 96px;
}

.section-01 .inner {}

.section-01 .inner h3 {}

.section-01 .inner .slides {
    position: relative;
}

.section-01 .inner .slides .list {}

.section-01 .inner .slides .list .item {
    width: 100%;
    height: 524px;
    position: relative;
    border-radius: 16px;
    overflow: hidden; /* 영역 넘어가는 거 숨김 처리 */
    display: none;
}
.section-01 .inner .slides .list .item.active {
    display: block;
}
.section-01 .inner .slides .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.section-01 .inner .slides .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 .inner .slides .list .item .text {
    position: absolute;
    top: 48px;
    /* 0; */
    left: 48px;
    /* 0; */
    /* padding: 48px; */
}
.section-01 .inner .slides .list .item .text strong {
    font-size: 33px;
}
.section-01 .inner .slides .list .item .text p {
    font-size: 18px;
    margin-top: 7px;
}

.section-01 .inner .slides .slide_navigation button {
    width: 49px;
    height: 48px;
}
.section-01 .inner .slides .slide_navigation button img {
    width: 100%;
}
.section-01 .inner .slides .slide_navigation .prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.section-01 .inner .slides .slide_navigation .prev img {
    width: 100%;
}
.section-01 .inner .slides .slide_navigation .next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.section-01 .inner .slides .slide_navigation .next img {
    width: 100%;
}


/* section-02 */
.section-02 {
    padding: 160px 0;
}
.section-02 .inner {}
.section-02 .inner h3 {}

.section-02 .inner .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.section-02 .inner .list .item {
    /* 488 / 1012 * 100 = */
    width: 48.22%;
    border-radius: 16px;
    overflow: hidden;
}
.section-02 .inner .list .item a {
    display: block;
    /* 647 / 488 * 100 = */
    /* 세로 / 가로 * 100 */
    padding-bottom:  132.58%;
    position: relative;
}
.section-02 .inner .list .item a::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.section-02 .inner .list .item:hover a::before {
    display: block;
}
.section-02 .inner .list .item a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.section-02 .inner .list .item a .text_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.section-02 .inner .list .item a .text_wrap .text {}
.section-02 .inner .list .item a .text_wrap .text strong {
    font-size: 33px;
    margin-bottom: 4px;
}
.section-02 .inner .list .item a .text_wrap .text p {
    font-size: 18px;
}
.section-02 .inner .list .item a .text_wrap .item_btn {
display: flex;
justify-content: flex-end;
}
.section-02 .inner .list .item a .text_wrap .item_btn img {}
.section-02 .inner .list .item a .text_wrap .item_btn img.before {}
.section-02 .inner .list .item a .text_wrap .item_btn img.after {
    display: none;
}

.section-02 .inner .list .item:hover .text_wrap .item_btn img.before {
    display: none;
}
.section-02 .inner .list .item:hover .text_wrap .item_btn img.after {
    display: block;
    z-index: 2;
}


/* section-03 */
.section-03 {
    height: 250px;
    position: relative;
}
.section-03 a {}
.section-03 a::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.section-03 a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-03 a .text_wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-03 a .text_wrap strong {
    font-size: 33px;
}
.section-03 a .text_wrap .btn {
    height: 75px;
    border: 1px solid #fff;
    padding: 0 31px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.section-03 a .text_wrap .btn span {
    font-size: 20px;
}
.section-03 a .text_wrap .btn img {}